$font-family: 'Lato', sans-serif;

$color-text: #1e212c;
$color-text-dark: #424551;
$color-text-muted: #787a80;
$color-text-light: #9a9ca5;
$color-accent: #ff3f3a;
$color-bg: #f4f5f6;
$color-white: #ffffff;
$color-yellow: #ffce2a;
$color-yellow-light: #ffe7a0;
$color-border: #d7dadd;

$color-tag-marketing: #03cea4;
$color-tag-management: #5a87fc;
$color-tag-hr: #ff7a00;
$color-tag-design: #f898dd;
$color-tag-development: #9a5cf6;

$layout-min: 320px;
$layout-max: 1920px;
$content-max: 1230px;
